<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geographyquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Geography Quiz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeographyQuiz">

        <!-- Login Activity (This will be the first screen the user sees) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity (The quiz happens here) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Result Activity (Shows the final results) -->
        <activity
            android:name=".ResultActivity"
            android:exported="false" />

        <activity android:name=".StartActivity" />

    </application>
</manifest>
